template(name="admin")
	.row
		.col-sm-3
			each queue
				p username
		.col-sm-9
			p mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. mingi mega küsimus. 