template(name="admin")
	.row
		.col-sm-3.queue-box
			with answering
				.btn-group(role="group")
					button.btn.btn-default.wrap(type="button" name="incorrect") {{name}}
					button.btn.btn-success.wrap(type="button" name="correct") +
			each queue
				p {{name}}
		.col-sm-9
			with questionObject
				.question(id="{{_id}}")
					p.pre {{question}}
					h1 {{T "points"}}: {{points}}