template(name="Intro")
	.row.text-center
		.col-sm-6
			h1 ENG
			p Hey there. I made this little app to help with my tutoring. Basically you insert your questions and have the students answer them in a Jeopardy fashion. As soon as a question pops up, the student that clicks a button the fastest can answer it.
		.col-sm-6
			h1 EST
			p Tere. Kirjutasin selle väikese äppi, et oma õppejõu tööd lihtsustada. Põhimõtteliselt on see pileti vastamise süsteem Kuldvillaku omadustega. Küsimused sisestab õpetaja ja äpp toob nad suvalises järjekorras tahvlile. Õpilane, kes kõige kiiremini nupule vajutab (oma arvutis või nutiseadmes) tulebki tahvli ette vastama.
