template(name="layout")
	nav.navbar.navbar-default(role="navigation")
		.navbar-header
			.navbar-brand Tickets
		div
			if isAdmin
				.btn-group
					button.btn.btn-default.navbar-btn.dropdown-toggle(type="button" name="settings" data-toggle="dropdown") Settings<span class="caret"></span>
					ul.dropdown-menu(role="menu")
						li Tere
						li Tere
						li Tere
				.btn-group
					button.btn.btn-default.navbar-btn.dropdown-toggle(type="button" name="insert" data-toggle="dropdown") Insert<span class="caret"></span>
					ul.dropdown-menu(role="menu")
						li Tere
						li Tere
						li Tere
				button.btn.btn-default.navbar-btn(type="button" name="skip") Skip
				.btn-group
					button.btn.btn-default.navbar-btn.dropdown-toggle(type="button" name="results" data-toggle="dropdown") Results<span class="caret"></span>
					ul.dropdown-menu(role="menu")
						each students
							p {{name}}: {{points}} ({{questionsAnswered}})
			.nav.navbar-nav.navbar-right
				.btn-group
					button.btn.btn-default.navbar-btn(type="button" name="en") ENG
					button.btn.btn-default.navbar-btn(type="button" name="et") EST
				| {{> loginButtons}}
	.content
		+yield